

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    padding-block: 50px;
    padding-inline: 200px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    gap: 15px;


}

.box{
    border: 1px solid black;
}

.box:first-child {
    grid-column: 1/2;
   grid-row: 1/3;
   background-image:url(photo-1478436127897-769e1b3f0f36.avif);
   background-position: center;
   background-size: cover;
}

.box:nth-child(2) {
    grid-column:2/3;
    grid-row: 1/4;
    background-image:url(photo-1516205651411-aef33a44f7c2.avif);
    background-position: center;
    background-size: cover;
}


.box:nth-child(3) {
    grid-column:3/5;
    grid-row: 1/2;
    background-image:url(photo-1522383225653-ed111181a951.avif);
    background-position: center;
    background-size: cover;
   
}


.box:nth-child(4) {
    grid-column:3/4;
    grid-row: 2/5;
    background-image:url(photo-1522547902298-51566e4fb383.avif);
    background-position: center;
    background-size: cover;
   
}



.box:nth-child(5) {

    background-image:url(photo-1524413840807-0c3cb6fa808d.avif);
    background-position: center;
    background-size: cover;
   
}


.box:nth-child(6) {
    grid-column:4/5;
    grid-row: 2/4;
    background-image:url(photo-1545569341-9eb8b30979d9.avif);
    background-position: center;
    background-size: cover;
}


.box:nth-child(7) {
    grid-column:1/3;
    grid-row: 4/5;
    background-image:url(premium_photo-1673698463059-c022fb3a32ab.avif);
    background-position: center;
    background-size: cover;

}


.box:nth-child(8) {
    grid-column:4/5;
    grid-row: 4/5;
    background-image:url(premium_photo-1674824835422-1447f5901086.avif);
    background-position: center;
    background-size: cover;
   
}

